<p></p>

<div class="col-lg-6 col-md-6 ml-auto mr-auto">
  <div class="card">
    <div class="card-header ph-card-header">
      <h1>New Todo List</h1>
    </div>
    <div class="card-body">
      <%= render 'form', todo_list: @todo_list %>
    </div>
    <div class="card-footer">
      <%= link_to 'Back', todo_lists_path %>
    </div>
  </div>
</div>
