<% if flash[:notice] %>
  <div class="alert alert-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-custom global-notification">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>


